name: codelab
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true

  assets : 
    - images/

  fonts:
    - family : Baloo
      fonts: 
        - asset : fonts/Baloo/Baloo-Regular.ttf
